include mouse_pupil_analysis/checkpoints/*.pth
include mouse_pupil_analysis/checkpoints/*.txt
include mouse_pupil_analysis/checkpoints/*.json
recursive-include sample_data *.csv *.json *.md *.png
recursive-include scripts *.py
recursive-include training *.md *.py
prune mouse_pupil_analysis/checkpoints/archive
